.example-spacer {
    flex: 1 1 auto;
  }
  

mat-sidenav{
    width: 200px;
    background-color: rgb(255, 255, 255);
   
}
mat-sidenav-content{

  height: calc(96.4vh - 5vh);
}
.login{
  position: relative;
  left: 30%;
  top: 10%;
  width: 416px;
  display: flex;
  justify-content: right;
  
}


span{
  cursor: pointer;
}






