
    <mat-toolbar>
    
    
        
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="/assignments">
        Assignment
      </span>
    
      
       &nbsp;
       &nbsp;
       
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon routerLink="/add">add</mat-icon>
          </button>
          <span routerLink="/add" >Ajouter Assignment</span>

        &nbsp;
        &nbsp;    
  

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="initialiserLaBase()">
      <mat-icon>storage</mat-icon>
    </button>
    <span routerLink="/assignments" (click)="initialiserLaBase()">
      PeuplerDB
    </span>
          
        
    
    <div class="login" >
      <app-home  *ngIf="!isLoggedIn() ; else nonsoumis"></app-home>
    </div>
    
      <ng-template #nonsoumis>
        <button mat-flat-button color="primary" (click)="disconnection()" >
        disconnect
     </button>
      </ng-template>
   
   

 
  </mat-toolbar>

  
 
  <mat-sidenav-container>
  
    <mat-sidenav [(opened)]="opened" mode="side">
      <mat-list>
        <mat-list-item><a routerLink="/add" style="text-decoration: none;">Ajouter Assignment</a></mat-list-item>
        <mat-list-item><a routerLink="/assignments" style="text-decoration: none;">Assignments</a></mat-list-item>
        <mat-list-item><a routerLink="/assignments" *ngIf="isLoggedIn(); else nonsoumise" (click)="disconnection()" style="text-decoration: none;">Disconnect</a></mat-list-item>
        <ng-template #nonsoumise>
          <mat-list-item><a routerLink="/assignments"  style="text-decoration: none;">Connect</a></mat-list-item>
       </ng-template>     
      </mat-list>

      </mat-sidenav>
   
      <mat-sidenav-content>
        <div class="miage">
        <img [src]="url" alt="aaddddddddddddddddddddddddd">
      </div>
       
      <router-outlet></router-outlet>
       
      </mat-sidenav-content>
  </mat-sidenav-container>

